<section class="carousel">
  <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHome" data-slide-to="1" class=""></li>
      <li data-target="#carouselHome" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <!-- Begin Item 1 -->
      <div class="item active">
        <div class="background-main skrollable skrollable-between">
          <img class="carousel-bg op-1" src="images/bg1.jpg">
          <div class="container">
            <div class="row carousel-content center-vertically-right">
              <!-- Content -->
              <div class="fadeInRight animated" data-animation="fadeInRight">
                <div class="carousel-description col-sm-5">
                  <h3 class="heavy text-white hidden-xs"><span class="carousel-title-bgclear">Partner</span></h3>
                  <h3 class="heavy text-white hidden-xs"><span class="carousel-title-bgclear">Agreement</span></h3>
                  <h3 class="heavy text-white hidden-xs"><span class="carousel-title-bgclear">Monitor</span></h3>
                  <p class="">EaaS (EDI as a Service) exchanges EDI documents between your legacy systems and trading partners.</p>
                </div>
              </div>
              <div class="fadeInLeft animated" data-animation="fadeInLeft">
                <div class="col-sm-6 col-sm-offset-1">
                  <img src="images/carousel-1.png" class="img-responsive carousel-image" alt="Responsive Showcase">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item 1 -->
      <!-- Begin Item 2 -->
      <div class="item">
        <div class="skrollable skrollable-between">
          <img class="carousel-bg op-4" src="images/bg2.jpg">
          <div class="container">
            <div class="row carousel-content center-vertically-left">
              <!-- Img -->
              <div class="fadeInLeft animated" data-animation="fadeInLeft">
                <div class="col-sm-6 hidden-xs">
                  <img src="images/carousel-2.png" class="img-responsive carousel-image" alt="Responsive Showcase">
                </div>
              </div>
              <!-- Content -->
              <div class="fadeInRight animated" data-animation="fadeInRight">
                <div class="carousel-description mt10 col-sm-5 col-sm-offset-1">
                  <h4 class="heavy text-white"><span class="carousel-title-bg">Service</span></h4>
                  <h4 class="heavy text-white"><span class="carousel-title-bg">Professional</span></h4>
                  <h4 class="heavy text-white"><span class="carousel-title-bg">Efficient</span></h4>
                  <p>Transform business data between different formats (e.g. EDI X12
                  <-> XML and etc.)</p>
                  <a href="features.html" class="btn btn-rw btn-primary">
                    Features &nbsp;&nbsp;<span class="ion-ios7-arrow-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item 2 -->
      <!-- Begin Item 3 -->
      <div class="item">
        <div class="skrollable skrollable-between">
          <img class="carousel-bg op-8" src="images/bg3.jpg">
          <div class="container">
            <div class="row carousel-content center-vertically-right">
              <div class="fadeInUpBig animated" data-animation="fadeInUpBig">
                <div class="carousel-description col-sm-8 col-sm-offset-2 text-center">
                  <!-- Content -->
                  <span class="fa fa-exchange fa-4x text-white"></span>
                  <h2 class="heavy text-white"><span class="carousel-title-bgclear">EaaS</span></h2> Support multiple transmission protocols (e.g. AS2, FTP, Message Queue and etc.)
                  <br> Comprehensive functionalities for EDI document definition, transformation and monitoring.
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Item 3 -->
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
      <span class="fa fa-angle-left carousel-arrow-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
      <span class="fa fa-angle-right carousel-arrow-right" aria-hidden="true"></span>
    </a>
  </div>
</section>
<section class="background-light-grey pt60 pb60 border-bottom">
  <div class="container">
    <div class="row">
      <!-- Content 1 -->
      <div class="col-sm-4 fadeInUp-animated  text-center fadeInUp animated" ng-repeat="item in hc.functionList">
        <span class="fa {{item.icon}} bordered-icon-sm"></span>
        <h4 class="mt15">{{item.title}}</h4>
        <p class="p15xs no-margin">{{item.content}}</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</section>
<section class="background-light-grey pt40 pb40 border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="images/home-1.png" alt="EaaS">
      </div>
      <div class="col-sm-8">
        <div class="heading mb20 mt30-xs">
        <h4><i class="fa fa-flag mr15"></i>Why EaaS</h4></div>
        <p><a class="tooltip-active" data-toggle="tooltip" data-placement="top" title="EaaS" data-original-title="Tooltip on top">EDI as a Service</a> offers a comprehensive set of fully outsourced EDI services that helps companies to take full advantage of their EDI investment. With EaaS, companies are able to optimize the efficiency, reliability, and reach of their electronic supply chain while reducing costs, infrastructure and overhead. Future they also have the ability to let existing or new partners register and integrate with their own EDI smoothly and rapidly.</p>
        <!-- List -->
        <ul class="list-arrow-2-color no-margin">
          <li><small>EaaS Portal -  user interface of the EaaS platform</small></li>
          <li><small>EaaS Core API - supports EaaS Portal for management of resources and organization units, manages relationship between partners in the EaaS platform</small></li>
          <li><small>EaaS Runtime - current runtime implementation was based on Microsoft BizTalk Server 2010</small></li>
          <li><small>Load balance - one organization was hosted on one BizTalk Server by default, however, in current design, multiple host servers and load balancing was also supported.</small></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="pt40 mb40 border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading mb30">
          <h4><i class="fa fa-globe mr15"></i>Cooperative Corporation</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-4 mb30-xs" ng-repeat="item in hc.cooperativeCorporation">
        <a ng-href="{{item.url}}" target="_blank"><img ng-src="images/company/{{item.name}}.png" class="img-responsive clients-img" alt="{{item.alt}}"></a>
      </div>
    </div>
  </div>
</section>
<h1>{{hc.version}}</h1>